<html xmlns="http://www.w3.org/1999/html">


<header>


{% load staticfiles  %}


<!-- <script src='http://codepen.io/assets/libs/fullpage/jquery.js'> </script> -->



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"> </script>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="{% static 'Mitlib/angular.min.js' %}"> </script>


 <script src="{% static 'Mitlib/input.js' %}"> </script>

<script src="http://jsconsole.com/remote.js?D5E3C33E-5E5B-479B-935A-C8F85595DE50"></script>

<link rel="stylesheet" href="{% static 'Mitlib/style.css' %}" type="text/css" >
<link rel="stylesheet" href="{% static 'Mitlib/normalize.css' %}" type="text/css" >




</header>

<body>








<div id="wrap">

<form class = "" action="{% url 'traderesult' %}" method="POST">
{% csrf_token %}

    <legend> Backtest here  </legend>

    <div class="form-group">

        <label >Initial allocation</label>
      <input type="text" name = "cash" value =  "100000" class="form-control" autofocus/>

      <label for="startDate">Start date</label>
      <div class="input-group">
        <i class="glyphicon glyphicon-calendar input-group-addon"> </i>
        <input type="text" id="date_start" name = 'date_start' class="form-control"/>
      </div>




    <label for="endDate">End date</label>

    <div class="input-group">
        <i class="glyphicon glyphicon-calendar input-group-addon"> </i>
        <input type="text" id="endDate" class="form-control" name="date_end"/>
      </div>



    <label for="data_source"> Source: </label>
    <div class = "input-group" width = 20px>
    <input list="datasource"    class = "form-control" id="DataSource"  name="datasource"  autofocus/>
    </div>


        <label for="event_type"> Event type: </label>
        <div class = "input-group">
            <input list="dataset"  class = "form-control"  id="EventType"   name="eventtype" />
         </div>


    <datalist id="dataset">
        <option value="threshold"> 5% threshold </option>
        <option value="bollingerbands">5% with bollinger bands </option>
    </datalist>



    <datalist id="datasource">
        <option value="Yahoo">    </option>
        <option value="Morningstar (limited)">    </option>
    </datalist>

    </div>



    <input type="submit"  class="btn btn-default" value="GO">

</form>


 <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">90% Complete</span></div>
 </div>



<script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>


<script>

    progress_div = document.select.byId('progress')
    progress_div.value.aria-valuenow += 40

</script>


</body>
</html>