<html>


<header>

{% load staticfiles %}



<script src='http://codepen.io/assets/libs/fullpage/jquery.js'> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"> </script>


<link rel="stylesheet" href="{% static 'Mitlib/style.css' %}" type="text/css" >

</header>
<body>


<div id="canvas-holder">


			<canvas id="chart-area" width="300" height="300"/>


</div>








{%  if  latest_question_list  %}


<ul>
{% for question in latest_question_list %} 

  <li> <a href="{% url 'detail' question.id %}"> {{ question.question_text }} </a> </li>
 
{% endfor %}

</ul>

{% else %}
   <p> No questions </p>

{% endif %}


<br>

Trading simulator



<form action="{% url 'traderesult' %}" method="post">

    {% csrf_token %}
    <label for="date_trader1">Start date: </label>
    <input id="id_date_trader" type="text" name="date_start" />

    <label for="date_trader2">End date: </label>
    <input id="id_date_trader1" type="text" name="date_end" />

    <label for="event_type"> Event type: </label>
    <input list="dataset"  autocomplete="5% threshold" id="id_event_type"   name="event_type" />
    <datalist id="dataset">
        <option value="5threshold"> 5% threshold </option>
        <option value="10threshold"> 10% threshold </option>
        <option value="5bollingerbands">5% with bollinger bands </option>
        <option value="10bollingerbands"> 10% with bollinger bands </option>
    </datalist>
    </input>


    <input type="submit" value="OK">
</form>



</body>
</html>