<html xmlns="http://www.w3.org/1999/html">


<header>


{% load staticfiles  %}


<script src='http://codepen.io/assets/libs/fullpage/jquery.js'> </script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"> </script>


<link rel="stylesheet" href="{% static 'Mitlib/style.css' %}" type="text/css" >
<link rel="stylesheet" href="{% static 'Mitlib/normalize.css' %}" type="text/css" >
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
<script src="{% static 'Mitlib/prefixfree.min.js' %}"></script>

</header>

<body>








<div id="wrap">

<form class = "" action="{% url 'traderesult' %}" method="POST">
{% csrf_token %}

    <legend> Backtest here  </legend>

    <div class="form-group">

        <label >Initial allocation</label>
      <input type="text" name = "cash" value =  "100000" class="form-control" autofocus/>

      <label for="startDate">Start date</label>
      <div class="input-group">
        <i class="glyphicon glyphicon-calendar input-group-addon"> </i>
        <input type="text" id="date_start" name = 'date_start' class="form-control"/>
      </div>




    <label for="endDate">End date</label>

    <div class="input-group">
        <i class="glyphicon glyphicon-calendar input-group-addon"> </i>
        <input type="text" id="endDate" class="form-control" name="date_end"/>
      </div>



    <label for="data_source"> Source: </label>
    <div class = "input-group">
    <input list="datasource"    class = "form-control"   name="data_source"  autofocus/>
    </div>


        <label for="event_type"> Event type: </label>
        <div class = "input-group">
            <input list="dataset"  class = "form-control"     name="event_type" />
         </div>
    </div>



    <datalist id="dataset">
        <option value="threshold"> 5% threshold </option>
        <option value="bollingerbands">5% with bollinger bands </option>
    </datalist>







    <datalist id="datasource">
        <option value="Yahoo">    </option>
        <option value="Morningstar (limited)">    </option>
    </datalist>


    <input type="submit"  class="btn btn-default" value="GO">

</form>


  </div>


<script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

<script src="{% static 'Mitlib/input.js' %}"> </script>


</body>
</html>